<div class="container col-md-10" style="padding-top: 10px;">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let carImage of carImages" [class]="getCurrentSlideClass(carImage)">
        <img src="{{imageUrl}}{{carImage.imagePath}}" class="d-block w-100" alt="..." style="width: auto; height: 300px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> 

  <table *ngIf="getCarDetailsDataLoaded == true" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>      
    </thead>
    <tbody>
      <tr>
        <th scope="row">Model</th>
        <td>{{carDetailDto.carName}}</td>        
      </tr>
      <tr>
        <th scope="row">Marka</th>
        <td>{{carDetailDto.brandName}}</td>        
      </tr>
      <tr>
        <th scope="row">Açıklama</th>
        <td>{{carDetailDto.description}}</td>        
      </tr>
      <tr>
        <th scope="row">Model Yılı</th>
        <td>{{carDetailDto.modelYear}}</td>        
      </tr>
      <tr>
        <th scope="row">Renk</th>
        <td>{{carDetailDto.colorName}}</td>        
      </tr>
      <tr>
        <th scope="row">Kiralama Ücreti</th>
        <td>{{carDetailDto.dailyPrice}}₺</td>        
      </tr>
      <tr>
        <th scope="row">Minimum Findeks Puanı</th>
        <td>{{carDetailDto.minFindeksScore}}</td>        
      </tr>
    </tbody>
  </table>
  <div *ngIf="getCarDetailsDataLoaded == true" class="d-grid gap-2 d-md-flex justify-content-md-end">    
    <button routerLink="/rentcar/carId/{{ carDetailDto.carId}}" class="btn btn-success" type="button">Kirala</button>
    <button routerLink="/cars/" class="btn btn-success" type="button">Araç Listesi</button>
  </div>
  
</div>


 
    
  
  