<div class="row container">
  <div class="col-md-4">
    <div class="mb-3">
      <input
        type="text"
        [(ngModel)]="carNameFilterText"
        class="form-control"
        id="filterTextForModel"
        placeholder="Listede model ara..."
        [disabled]="responseCount==true"
      />
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputBrandSelection">Marka</label>
      <select [(ngModel)]="selectedBrandIdText" class="form-select" id="inputBrandSelection">
        <option value="Marka Seç" selected >Marka Seç</option>
        <option *ngFor="let brand of brands" [value]="brand.id">
          {{ brand.name }} 
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputColorSelection">Renk</label>
      <select [(ngModel)]="selectedColorIdText" class="form-select" id="inputColorSelection">
        <option value="Renk Seç" selected>Renk Seç</option>
        <option *ngFor="let color of colors" [value]="color.id">
          {{ color.name }} 
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="input-group mb-3">
      <button class="btn btn-success" (click)="filterByFilterBar()">Filtrele</button>
    </div>
  </div>
</div>

<div *ngIf="responseCount==true" class="container" style="align-content: center;">
<div class="alert alert-danger" style="text-align: center" role="alert">
  Aradığınız kriterlerde araç bulunmamaktadır. Flitreyi değiştirerek yeniden deneyiniz.
</div>
</div>


<div class="row container"> 
 <div *ngFor="let car of carDetailDto | carNameFilterPipe:carNameFilterText" class="card " style="padding:auto; padding-top: 10px; width: 18rem;">
    <img
      src= "{{imageUrl}}{{car.mainImage.imagePath}}"
      class="card-img-top" style="height: 7rem;"
    />
    <div class="card-body">
      <h5 class="card-title">{{ car.carName }}</h5>
      <p class="card-text" style="height: 3rem">{{ car.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>{{ car.brandName }}</strong></li>
      <li class="list-group-item">{{ car.colorName }}</li>
      <li class="list-group-item">Günlük {{car.dailyPrice}} ₺</li>
    </ul>
    <div class="card-body">
      <div class="d-grid gap-2 d-md-flex justify-content-between">
        <button routerLink="/cars/cardetails/{{ car.carId }}" class="btn btn-success" type="button">Detay</button>
        <button routerLink="/rentcar/carId/{{ car.carId }}" class="btn btn-success" type="button">Kirala</button>
      </div>
    </div>
  </div>
</div>


