<!-- ----------------------Üst taraf test ----------------- -->
<div *ngIf="isItRentable==false || isItRentable==undefined" class="container">
  <h4 *ngIf="carDetailDtoDataLoaded==true">{{ carDetailDto.brandName }} {{ carDetailDto.carName }} Kirala</h4>
  <form [formGroup]="rentalAddForm" (ngSubmit)="checkRentability()">
    <div class="mb-3">
      <h6>Müşteri Id'si</h6>
      <input
        type="number"
        id="customerId"
        name="customerId"
        formControlName="customerId"
        class="form-control"
        placeholder="Müşteri Id'si"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          rentalAddForm.get('customerId').hasError('required') &&
          rentalAddForm.get('customerId').dirty
        "
      >
        Müşteri Id Zorunludur.
      </div>
    </div>


<div class="row">
 <div class="mb-3 col-md-6">
      <h6>Kira Başlangıç Tarihi</h6>
      <input
        type="date"
        id="rentDate"
        name="rentDate"
        formControlName="rentDate"
        class="form-control, date"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          rentalAddForm.get('rentDate').hasError('required') &&
          rentalAddForm.get('rentDate').touched
        "
      >
        Kira Başlangıç Tarihi Zorunludur.
      </div>
    </div>
    <div class="mb-3 col-md-6">
      <h6>Kira Bitiş Tarihi</h6>
      <input
        type="date"
        id="returnDate"
        name="returnDate"
        formControlName="returnDate"
        class="form-control, date"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          rentalAddForm.get('returnDate').hasError('required') &&
          rentalAddForm.get('returnDate').touched
        "
      >
        Kira Bitiş Tarihi Zorunludur.
      </div>
    </div>
</div>

   
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="rentalAddForm.invalid"
      >
        Kontrol et
      </button>
      <button *ngIf="carDetailDtoDataLoaded==true" class="btn btn-success" type="button" routerLink="/cars/cardetails/{{carDetailDto.carId}}">Araç Detayları</button>
    </div>
  </form>
  <span  class="alert alert-danger" *ngIf="isItRentable==false">{{rentabilityErrorMessage}}</span>  
  <h4 *ngIf="isItRentable==false || isItRentable==null">Araç Bilgileri</h4>
  <table *ngIf="isItRentable==false || isItRentable==null &&carDetailDtoDataLoaded==true" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Model</th>
        <td>{{ carDetailDto.carName }}</td>
      </tr>
      <tr>
        <th scope="row">Marka</th>
        <td>{{ carDetailDto.brandName }}</td>
      </tr>
      <tr>
        <th scope="row">Açıklama</th>
        <td>{{ carDetailDto.description }}</td>
      </tr>
      <tr>
        <th scope="row">Model Yılı</th>
        <td>{{ carDetailDto.modelYear }}</td>
      </tr>
      <tr>
        <th scope="row">Renk</th>
        <td>{{ carDetailDto.colorName }}</td>
      </tr>
      <tr>
        <th scope="row">Kiralama Ücreti</th>
        <td>{{ carDetailDto.dailyPrice }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- -------------------------ikinci html--------------------------- -->
<div class="container">
  <span  class="alert alert-success" *ngIf="isItRentable==true">{{rentabilitySuccessMessage}}</span>  
<div *ngIf="isItRentable" class="row">
  <div class="col-md-6">
  <h4>Kredi kartı bilgileri</h4>
  <form [formGroup]="creditCardForm" (ngSubmit)="sendCard()">
    <div class="mb-3">
      <h6>Müşteri Id</h6>
      <input
        type="number"
        id="customerId"
        name="customerId"
        formControlName="customerId"
        class="form-control"
        placeholder="Müşteri Id'si"
      />
    </div>
    <div
      class="alert && alert-danger"
      *ngIf="
        creditCardForm.get('customerId').hasError('required') &&
        creditCardForm.get('customerId').dirty
      "
    >
      Müşteri Id Zorunludur.
    </div>
    
    <!-- ////////////////////////////////////////////////// -->
    
  <div class="mb-3">
      <h6>Kart Numarası</h6>
      <input
        type="number"
        min="1000000000000000"
        max="9999999999999999"
        id="cardNumber"
        name="cardNumber"
        formControlName="cardNumber"
        class="form-control"
        placeholder="0000 0000 0000 0000"      
      />
    </div>
    <div
      class="alert && alert-danger"
      *ngIf="
        creditCardForm.get('cardNumber').hasError('required') && creditCardForm.get('cardNumber').dirty || creditCardForm.get('cardNumber').hasError('min') || creditCardForm.get('cardNumber').hasError('max')
      "
    >
      Kart Numarası Hatalı.
    </div>
  <!-- ////////////////////////////////////////////////// -->
    <div class="mb-3">
      <h6>Kart Sahibinin Adı</h6>
      <input
        type="text"      
        id="firstNameOnTheCard"
        name="firstNameOnTheCard"
        formControlName="firstNameOnTheCard"
        class="form-control"
        placeholder="Kart Üzerindeki Ad"
      />
    </div>
    <div
      class="alert && alert-danger"
      *ngIf="
        creditCardForm.get('firstNameOnTheCard').hasError('required') && 
        creditCardForm.get('firstNameOnTheCard').dirty
      "
    >
      İsim Zorunludur.
    </div>
  <!-- ////////////////////////////////////////////////// -->
  
  <div class="mb-3">
      <h6>Kart Sahibinin Soyadı</h6>
      <input
        type="text"      
        id="lastNameOnTheCard"
        name="lastNameOnTheCard"
        formControlName="lastNameOnTheCard"
        class="form-control"
        placeholder="Kart Üzerindeki Soyad"
      />
    </div>
    <div
      class="alert && alert-danger"
      *ngIf="
        creditCardForm.get('lastNameOnTheCard').hasError('required') && 
        creditCardForm.get('lastNameOnTheCard').dirty
      "
    >
      Soyad Zorunludur.
    </div>
  
  <!-- ////////////////////////////////////////////////// -->
  
  <div class="mb-3">
      <h6>Son Kullanma Tarihi (Ay)</h6>
      <input
        type="number"
        min ="1"
        max="12"      
        id="expirationMonth"
        name="expirationMonth"
        formControlName="expirationMonth"
        class="form-control" 
        placeholder="_ _"     
      />
    </div>
    <div
      class="alert && alert-danger"
      *ngIf="
        creditCardForm.get('expirationMonth').hasError('required') && creditCardForm.get('expirationMonth').dirty || creditCardForm.get('expirationMonth').hasError('min')  || creditCardForm.get('expirationMonth').hasError('max')
      "
    >
      Yıl Bilgisi Hatalı.
    </div>
  
    <!-- ////////////////////////////////////////////////// -->
  
    <div class="mb-3">
      <h6>Son Kullanma Tarihi (Yıl)</h6>
      <input
        type="number"
        min ="2021"
        max="2050"      
        id="expirationYear"
        name="expirationYear"
        formControlName="expirationYear"
        class="form-control" 
        placeholder="_ _ _ _"     
      />
    </div>
    <div
      class="alert && alert-danger"
      *ngIf="
        creditCardForm.get('expirationYear').hasError('required') && creditCardForm.get('expirationYear').dirty || creditCardForm.get('expirationYear').hasError('min')  || creditCardForm.get('expirationYear').hasError('max')
      "
    >
      Yıl Bilgisi Hatalı.
    </div>
    
      <!-- ////////////////////////////////////////////////// -->
  
  <div class="mb-3">
      <h6>Cvv</h6>
      <input
        type="number"
        min ="100"
        max="999"      
        id="cvv"
        name="cvv"
        formControlName="cvv"
        class="form-control" 
        placeholder="_ _ _"     
      />
    </div>
    <div
      class="alert && alert-danger"
      *ngIf="
        creditCardForm.get('cvv').hasError('required') && creditCardForm.get('cvv').dirty || creditCardForm.get('cvv').hasError('min')  || creditCardForm.get('cvv').hasError('max')
      "
    >
      Cvv Bilgisi Hatalı.
    </div>
  <!-- ////////////////////////////////////////////////// -->
    <div class="mb-3">
      <select formControlName="cardTypeId" class="form-select" aria-label="cardType">
        <option *ngFor="let cardType of creditCardTypes" [ngValue]="cardType.id">
          {{ cardType.typeName }}
        </option>
      </select>
    </div>
    <div
      class="alert && alert-danger"
      *ngIf="
        creditCardForm.get('cardTypeId').hasError('required') &&
        creditCardForm.get('cardTypeId').invalid
      "
    >
    Kart tipi seçiniz.
  </div>
  
     <!-- ////////////////////////////////////////////////// -->
  
    <div class="form-check">
      <input formControlName="selectedCard" class="form-check-input" type="checkbox" value="" id="selectedCard">
      <label class="form-check-label" for="flexCheckDefault">
        Öntanımlı Kart
      </label>
  </div>
  </form>
  
  <div class="form-check">
    <input [(ngModel)]="saveMyCard" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Kartımı Kaydet
    </label>
  </div>
  
  <form [formGroup]="creditCardForm" (ngSubmit)="sendCard()">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="creditCardForm.invalid"   
      >
        Öde
      </button>
      </div>
  
  </form>
  </div>
  <div *ngIf="carDetailDtoDataLoaded" class="col-md-6">
      <h4>Kira özeti</h4>      
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Model</th>
        <td>{{ carDetailDto.carName }}</td>
      </tr>
      <tr>
        <th scope="row">Marka</th>
        <td>{{ carDetailDto.brandName }}</td>
      </tr>
      <tr>
        <th scope="row">Açıklama</th>
        <td>{{ carDetailDto.description }}</td>
      </tr>
      <tr>
        <th scope="row">Model Yılı</th>
        <td>{{ carDetailDto.modelYear }}</td>
      </tr>
      <tr>
        <th scope="row">Renk</th>
        <td>{{ carDetailDto.colorName }}</td>
      </tr>
      <tr>
        <th scope="row">Kiralama Ücreti</th>
        <td>{{ carDetailDto.dailyPrice }}</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>