<div class="container">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Araç Ekle</h5></div>
            <div class="card-body">
            <form [formGroup]="carAddForm">
                <label for="brandId">Marka</label>
                <div class="form-group mb-3">
                    <input type="number" id="brandId" formControlName="brandId" class="form-control" placeholder="brandId">
                </div>
                <label for="colorId">Renk</label>
                <div class="form-group mb-3">
                    <input type="number" id="colorId" formControlName="colorId" class="form-control" placeholder="colorId">
                </div>
                <label for="carName">Model</label>
                <div class="form-group mb-3">
                    <input type="text" id="carName" formControlName="carName" class="form-control" placeholder="Model">
                </div>
                <label for="modelYear">Model Yılı</label>
                <div class="form-group mb-3">
                    <input type="number" id="modelYear" formControlName="modelYear" class="form-control" placeholder=" Yılı">
                </div>
                <label for="dailyPrice">Günlük Kira Bedeli ₺</label>
                <div class="form-group mb-3">
                    <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control" placeholder="Günlük Kira Ücreti ₺">
                </div>
                <label for="description">Açıklama</label>
                <div class="form-group mb-3">
                    <input type="text" id="description" formControlName="description" class="form-control" placeholder="Açıklama">
                </div>
                
            </form>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-fill btn-success" (click)="addCar()">Ekle</button>
                </div>                
            </div>
        </div>
    </div>
</div>